/* Strikes through the completed items */
li[data-todo-item-completed="true"] span {
	text-decoration: line-through;
}

.loginPanel {
    width: 400px !important;
}

/* Adjust width for screens smaller than or equal to 375px */
@media (max-width: 375px) {
    .loginPanel {
        width: 300px !important;
    }
}

.sapMInput {
    height: 30px !important; /* Adjust the height as per your requirement */
    padding: 0; /* Remove padding to ensure consistency */
    border-radius: 4px; /* Optional: Add a border radius */
}

.sapMSlt {
    height: 30px !important; /* Match the height of Input */
    padding: 0 !important; /* Remove padding for consistency */
    border-radius: 4px; /* Optional: Add a border radius */
}

.sapMInputBase {
    height: 30px !important; /* Match the height */
    padding: 0 !important; /* Ensure no extra padding */
    border-radius: 4px; /* Optional: Add a border radius */
}

.customFooterBar {
    /* width: 97%; */
    margin: auto;
    margin-bottom: 20px;
  }
